/**{
  border: 1px solid red;
}
*/
html, body{
  height: 100%;
  width: 100%;
}

#selectedFeatures{
	background-color: blue;
}

.bottomPadding{
	padding: 10px;
}

.map { 
	margin-top: 20px;
	position: relative; 
	min-height: 600px;
	width: 100%;
}