{% load static %}

<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Property Search</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="	sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">


	<!-- Leaftlet -->
	<!-- Load Leaflet from CDN-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/1.0.0-rc.1/leaflet.css" />
	<script src="https://cdn.jsdelivr.net/leaflet/1.0.0-rc.1/leaflet-src.js"></script>

	<!-- Load Esri Leaflet from CDN -->
	<script src="https://cdn.jsdelivr.net/leaflet.esri/2.0.0/esri-leaflet.js"></script>

	<!-- ESRI GeoCoder -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet.esri.geocoder/2.1.0/esri-leaflet-geocoder.css">
	<script src="https://cdn.jsdelivr.net/leaflet.esri.geocoder/2.1.0/esri-leaflet-geocoder.js"></script>

	<!-- Proj4js  -->
	<!-- For converting coords -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.14/proj4-src.js"></script>

	{# Box Zoom #}
	<link rel="stylesheet" href="{% static "css/L.Control.ZoomBox.css" %}">
	<script src="{% static "js/L.Control.ZoomBox.min.js" %}"></script>

	{# Self style #}
	<link rel="stylesheet" href="{% static "css/main.css" %}">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
	
	<nav class="navbar navbar-full navbar-dark bg-faded" style="background-color: #083D77">
		<a href="" class="navbar-brand">
			Property Search
		</a>

		<form id="parcelSearch" action="" method="GET" class="form-inline pull-right">
			<div class="input-group">
				<input type="text" name="address_name" id="address_name" placeholder="Search Address/Pin..." class="form-control">		
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">
						<i id="search-button" class="fa fa-search" aria-hidden="true"></i>
					</button>
				</span>
			</div>
		</form>
	</nav>

	<main>

		<div class="container-fluid">
			<div class="row">
				<div id="result-container" class="hidden">
					<div id="results"></div>
				</div>
				<div id="map-container" class="col-md-12">
					<div id="map"></div>				
				</div>
			</div>			
		</div>


	</main>
	<footer>
		
	</footer>

	<script src="{% static "js/system.js" %}"></script>

</body>

</html>

				